.button {
    background-color: var(--color-primary);
    color: var(--color-black);
    padding: 8px 16px;
    border-radius: 100px;
    align-self: flex-start;
    margin-top: 32px;

    a {
        color: var(--color-black);
        font-weight: bold;
        text-decoration: none;
    }
}
.button-black {
    background-color: var(--color-bg-primary);
}
