.js-labo {
    background-color: var(--color-primary);
}

h2 {
    margin: 0;
    padding: 80px 0 100px 0;
}
.card-js {
    &:nth-child(even) {
        .card_content {
            order: 1;
        }
    }
}
