.premier-labo {
    background-color: var(--color-black);
    color: var(--color-bg-primary);
}

.cards {
    font-family: var(--font-primary);
    @media (width <= var($breakpoint-md)) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
.card_content {
    display: flex;
    flex-direction: column;

    p {
        margin: 0;
        font-size: var(--font-size-content);
    }
    .info {
        padding: 16px 0 24px 0;
    }

    .type {
        font-weight: 300;
    }
}
.card_media img {
    display: block;
    width: 494px;
    height: 1;
    aspect-ratio: 595/490;

    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card {
    display: grid;

    grid-template-columns: 1fr 1fr;
    padding-bottom: 50px;
    gap: var(--spacing-md);
    align-items: center;
    &:nth-child(even) {
        .card_content {
            order: -1;
        }
    }
    @media (width <=800px) {
        display: block;
        grid-template-columns: 1fr;
        order: 1;
    }
}
