.card-js {
    position: relative;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    opacity: 0.4;
    transform: rotate(45deg);
    background: var(--color-black);
    border-radius: 0;
    transition: all 0.3s ease;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: var(--color-white);
}
.swiper-page .swiper-pagination {
    position: absolute;
    top: 100;
    left: 50%;

    z-index: 1000;
    display: flex;

    align-items: center;
    gap: 20px;
}
