/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Work sans', sans-serif;
    --font-secondary: 'Fira Code', monospace;

    --font-size-content: #{typo(16px, 18px)};
    --font-size-p-content: #{typo(32px)};
    --font-size-footer: #{typo(56px)};
    /// Grosseur des textes
    --font-size-h1: #{typo(80px, 40px)};
    --font-size-h2: #{typo(40px, 50px)};
    --font-size-h3: #{typo(25px, 40px)};
    --font-size-h4: #{typo(20px, 30px)};
}
