{% include "_partials/_header.html" %}
<!-- Votre contenu ici -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <section class="hero">
            <div class="wrapper">
                <div class="hero_media">
                    <img src="assets/images/hero.png" alt="" />
                </div>
                <div class="hero_content">
                    <h1>Mon cahier d'exercice</h1>
                </div>
            </div>
        </section>

        <section class="premier-labo">
            <div class="wrapper">
                <h2>Mes premiers laboratoires</h2>
                <div class="cards">
                    <div class="card">
                        <div class="card_media">
                            <img src="assets/images/sem_01.png" alt="" />
                        </div>

                        <div class="card_content">
                            <h3>SEM 01 - RÉVISION</h3>
                            <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices lorem non feugiat egestas amet.</p>
                            <p class="type">HTML + CSS</p>
                            <div class="button">
                                <a href="http://tdore.dectim.ca/cours/cw3/sem01/" target="_blank">VOIR LE LABORATOIRE</a>
                                <svg class="icon">
                                    <use href="#icon-chevron-right"></use>
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card_media">
                            <img src="assets/images/sem_02.png" alt="" />
                        </div>

                        <div class="card_content">
                            <h3>SEM 02 - TIMTOOLS</h3>
                            <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices lorem non feugiat egestas amet.</p>
                            <p class="type">SCSS</p>
                            <div class="button">
                                <a href="https://tdore.dectim.ca/cours/cw3/sem02/" target="_blank">VOIR LE LABORATOIRE</a>
                                <svg class="icon">
                                    <use href="#icon-chevron-right"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card_media">
                            <img src="assets/images/sem_03.png" alt="" />
                        </div>

                        <div class="card_content">
                            <h3>SEM 03 - PORTFOLIO LOUIS LAJOIE</h3>
                            <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices lorem non feugiat egestas amet.</p>
                            <p class="type">HTML + SCSS</p>
                            <div class="button">
                                <a href="" target="_blank">VOIR LE LABORATOIRE</a>
                                <svg class="icon">
                                    <use href="#icon-chevron-right"></use>
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card_media">
                            <img src="assets/images/sem_04.png" alt="" />
                        </div>
                        <div class="card_content">
                            <h3>SEM 04 - ICÔNE ET CLASSE JS</h3>
                            <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices lorem non feugiat egestas amet.</p>
                            <p class="type">SCSS + JAVASCRIPT</p>
                            <div class="button">
                                <a href="https://tdore.dectim.ca/cours/cw3/sem04/dist/" target="_blank">VOIR LE LABORATOIRE</a>
                                <svg class="icon">
                                    <use href="#icon-chevron-right"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="js-labo">
            <div class="wrapper">
                <h2>Mes laboratoires réactifs</h2>
                <div class="swiper js-pagination swiper-page">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="card card-js">
                                <div class="card_media">
                                    <img src="assets/images/sem_07.png" alt="" />
                                </div>
                                <div class="card_content">
                                    <h3>SEM 07 - SITE RÉACTIF</h3>
                                    <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices lorem non feugiat egestas amet.</p>
                                    <p class="type">SCSS + JAVASCRIPT</p>
                                    <div class="button button-black">
                                        <a href="https://tdore.dectim.ca/cours/cw3/sem07/" target="_blank">VOIR LE LABORATOIRE</a>
                                        <svg class="icon">
                                            <use href="#icon-chevron-right"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="card card-js">
                                <div class="card_media">
                                    <img src="assets/images/sem_08.png" alt="" />
                                </div>
                                <div class="card_content">
                                    <h3>SEM 08 - SITE RÉACTIF</h3>
                                    <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices lorem non feugiat egestas amet.</p>
                                    <p class="type">SCSS + JAVASCRIPT</p>
                                    <div class="button button-black">
                                        <a href="https://tdore.dectim.ca/cours/cw3/sem08/" target="_blank">VOIR LE LABORATOIRE</a>
                                        <svg class="icon">
                                            <use href="#icon-chevron-right"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="card card-js">
                                <div class="card_media">
                                    <img src="assets/images/sem_09.png" alt="" />
                                </div>
                                <div class="card_content">
                                    <h3>SEM 09 - SITE RÉACTIF</h3>
                                    <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices lorem non feugiat egestas amet.</p>
                                    <p class="type">SCSS + JAVASCRIPT</p>
                                    <div class="button button-black">
                                        <a href="https://tdore.dectim.ca/cours/cw3/sem09/" target="_blank">VOIR LE LABORATOIRE</a>
                                        <svg class="icon">
                                            <use href="#icon-chevron-right"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>
        {% include "_partials/_footer.html" %}
    </body>
</html>
